<div>
    <button class="btn btn-primary" @onclick="OnAdd">
        <span class="oi oi-plus"></span> Add
    </button>
    <button class="btn btn-primary" @onclick="OnSearch">
        <span class="oi oi-magnifying-glass"></span> Find
    </button>
</div>

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnAdd { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnSearch { get; set; }
}