<h3>Missing rat</h3>

<p>
    You're trying to view a rat that no longer exists - this could happen if you deleted it and then clicked
    "back" to go back to it, for example.
    
    It's not a problem - use the menu to navigate to any other part of the system or go "back" again.
</p>