@page "/add-rats"
@using Microsoft.AspNetCore.Components
@using Basemix.Rats
@using Basemix.Rats.Persistence
@inject SqliteRatsRepository Repository;
@inject IJSRuntime JsRuntime;

<button class="btn btn-secondary" @onclick="GoBack">&lt; Back</button>

<h1>Add a rat</h1>

<form>
    <div class="form-group">
        <label for="nameInput">Name*</label>
        <input required class="form-control" id="nameInput" @bind="rat.Name"/>
    </div>
    <br />
    <div class="form-group">
        <label for="dateOfBirthInput">Date of Birth*</label>
        <input required class="form-control" type="date" id="dateOfBirthInput" @bind="rat.DateOfBirth"/>
    </div>
    <br />
    <div class="form-group">
        <label for="sexInput">Sex*</label>
        <select required id="sexInput" @bind="rat.Sex">
            <option value="">-</option>
            <option value="Buck">Buck</option>
            <option value="Doe">Doe</option>
        </select>
    </div>
    <br />
    <div class="form-group">
        <label for="notesInput">Notes</label>
        <br />
        <textarea class="full-textarea" wrap="hard" id="notesInput" rows="5" @bind="rat.Notes"></textarea>
    </div>
    <button class="btn btn-primary" @onclick="CreateNewRat">Create</button>
</form>

@code
{
    private readonly RatForm rat = new();

    private class RatForm
    {
        public string? Name { get; set; }
        public DateOnly? DateOfBirth { get; set; }
        public string? Sex { get; set; }
        public string? Notes { get; set; }
    }

    private async Task GoBack()
    {
        await this.JsRuntime.InvokeAsync<object>("history.back");
    }

    private async Task CreateNewRat()
    {
        if (string.IsNullOrEmpty(this.rat.Name) || this.rat.DateOfBirth == null || !Enum.TryParse<Sex>(this.rat.Sex, out var sex) || sex == Sex.Error)
        {
            return;
        }

        await this.Repository.AddRat(new Rat(name: this.rat.Name, sex: sex, dateOfBirth: this.rat.DateOfBirth.Value)
        {
            Notes = this.rat.Notes
        });
    }
}