@page "/"

<h1>Basemix</h1>

<p>Welcome to Basemix, an application for UK Rat Breeders.</p>

<p>
    This is extremely in development right now, please have patience and if you have questions, comments or feedback, please
    <a href="https://nfrs.org/forum/viewtopic.php?t=29536">post in the basemix thread on the nfrs forums</a> or send a PM to
    <a href="https://nfrs.org/forum/memberlist.php?mode=viewprofile&u=3884">rory</a>.
</p>