@page "/my-rattery"
@inject BreedersRepository breedersRepository

<h1>My Rattery</h1>

<form>
    <div class="form-group">
        <label for="ratteryNameInput">Rattery Name*</label>
        <input class="form-control" id="ratteryNameInput" required @bind="rattery.Name"/>
    </div>
    <br />
    <div class="form-group">
        <label for="dateFoundedInput">Date founded</label>
        <input class="form-control" type="date" id="dateFoundedInput" @bind="rattery.Founded"/>
    </div>
    <br />
    <div class="form-group">
        <input type="checkbox" id="currentlyBreedingInput" required @bind="rattery.Active"/>
        <label for="currentlyBreedingInput">Currently Breeding</label>
    </div>
    <br />
    <button class="btn btn-primary" @onclick="SaveBreeder">Save</button>
</form>

@code
{
    private Breeder rattery = new() { Owned = true };
    protected override async Task OnInitializedAsync()
    {
        this.rattery = await this.breedersRepository.GetMyBreeder() ?? this.rattery;
    }

    private Task SaveBreeder()
    {
        return breedersRepository.SetMyBreeder(this.rattery);
    }
}