@page "/"

<h1>Basemix</h1>

<p>Welcome to Basemix, an application for UK Rat Breeders.</p>

<ul>
    <li>Discuss <a href="https://nfrs.org/forum/viewtopic.php?t=29536">Basemix on the NFRS forums</a> or <a href="https://nfrs.org/forum/memberlist.php?mode=viewprofile&u=3884">PM Me</a></li>
    <li>Join the <a href="https://www.facebook.com/groups/basemix">Basemix User Group on Facebook</a></li>
    <li>See the <a href="https://basemix.app">Basemix website</a> for additional technical information</li>
</ul>

<hr/>

<p>
    <strong>Important notice: </strong> Basemix does not backup your data. If you lose your data, it is gone forever. If
    you are using a phone and you clear your app data, or delete the app, or factory reset, your data is gone forever.
    Use the settings page to manually export your database from time to time. You can also use that page to load a backup
    but be aware that loading a backup will overwrite your current data.
</p>

<hr />

<p>
    Basemix is not affiliated with or endorsed by the National Fancy Rat Society (NFRS).
</p>
