@page "/litters"

<CreateHeader OnCreate="CreateLitter"/>

<h1>Litters</h1>

<p>Click any litter to view details.</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">DoB</th>
        <th scope="col">Name</th>
        <th scope="col"># of rats</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var litter in LitterList)
    {
        <tr @onclick="@(() => OpenLitterProfile(litter.Id))">
            <th scope="row">@(litter.DateOfBirth?.ToString() ?? "-")</th>
            <td>@(litter.LitterName)</td>
            <td>@litter.OffspringCount</td>
        </tr>
    }
    </tbody>
</table>
