@page "/settings"

@if (!SettingsLoaded)
{
    <BackButton/>
    <hr/>
    <div class="alert alert-danger" role="alert">
        Settings could not be loaded, something must be really wrong. Please contact the developer.
    </div>
}
else
{
    <SaveHeader OnSave="SaveAndGoBack"/>

    @if (this.ShowError)
    {
        <div class="alert alert-danger" role="alert">
            Settings are invalid and could not be saved:
            <ul>
                @foreach(var error in this.ErrorMessages)
                {
                    <li>@error</li>
                }
            </ul>
            <br />
            See <a href="https://www.nfrs.org/articles_novice_breeder.html">NFRS's Advice for the Novice Breeder</a> for
            detail about rat breeding timelines. Basemix enforces values based on this guidance.
        </div>
    }
    
    <h1>Settings</h1>
    
    <dl class="row">
        <dt class="col-sm-4">Rattery Name</dt>
        <dd class="col-sm-9">
            <input required class="form-control" @bind="Profile.RatteryName"/>
        </dd>
    </dl>
    
    <h2>Pedigree settings</h2>
    <dl class="row">
        <dt class="col-sm-4">Footer Text</dt>
        <dd class="col-sm-9">
            <input required class="form-control" @bind="Profile.Pedigree.Footer"/>
        </dd>
        
        <dt class="col-sm-4">Show rat sex</dt>
        <dd class="col-sm-9">
            <input required type="checkbox" @bind="Profile.Pedigree.ShowSex"/>
        </dd>
        
        <dt class="col-sm-4">Page margin size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.PageMargin"/>
        </dd>
        
        <dt class="col-sm-4">Font family</dt>
        <dd class="col-sm-9">
            @(Profile.Pedigree.Pdf.Font)
        </dd>
        
        <dt class="col-sm-4">Font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.FontSize"/>
        </dd>
        
        <dt class="col-sm-4">Footer font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.FooterFontSize"/>
        </dd>
        
        <dt class="col-sm-4">Rattery name font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.HeaderFontSize"/>
        </dd>
        
        <dt class="col-sm-4">Litter name font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.SubheaderFontSize"/>
        </dd>
    </dl>
    
    <h2>Litter Estimation settings</h2>
    <dl class="row">
        <dt class="col-sm-4">DOB days after pairing (minimum)</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.LitterEstimation.MinBirthDaysAfterPairing"/>
        </dd>
        <dt class="col-sm-4">DOB days after pairing (maximum)</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.LitterEstimation.MaxBirthDaysAfterPairing"/>
        </dd>
        <dt class="col-sm-4">Days after birth until fully weaned</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.LitterEstimation.MinWeaningDaysAfterBirth"/>
        </dd>
        <dt class="col-sm-4">Days after birth until sex separation</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.LitterEstimation.MinSeparationDaysAfterBirth"/>
        </dd>
        <dt class="col-sm-4">Days after birth until rehome</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.LitterEstimation.MinRehomeDaysAfterBirth"/>
        </dd>
    </dl>
}
