@page "/settings"

@if (!SettingsLoaded)
{
    <BackButton/>
    <hr/>
    <div class="alert alert-danger" role="alert">
        Settings could not be loaded, something must be really wrong. Please contact the developer.
    </div>
}
else
{
    <SaveHeader OnSave="SaveAndGoBack"/>

    <h1>Settings</h1>
    
    <dl class="row">
        <dt class="col-sm-4">Rattery Name</dt>
        <dd class="col-sm-9">
            <input required class="form-control" @bind="Profile.RatteryName"/>
        </dd>
    </dl>
    
    <h2>Pedigree settings</h2>
    <dl class="row">
        <dt class="col-sm-4">Footer Text</dt>
        <dd class="col-sm-9">
            <input required class="form-control" @bind="Profile.Pedigree.Footer"/>
        </dd>
        
        <dt class="col-sm-4">Show rat sex</dt>
        <dd class="col-sm-9">
            <input required type="checkbox" @bind="Profile.Pedigree.ShowSex"/>
        </dd>
        
        <dt class="col-sm-4">Page margin size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.PageMargin"/>
        </dd>
        
        <dt class="col-sm-4">Font family</dt>
        <dd class="col-sm-9">
            @(Profile.Pedigree.Pdf.Font)
        </dd>
        
        <dt class="col-sm-4">Font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.FontSize"/>
        </dd>
        
        <dt class="col-sm-4">Footer font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.FooterFontSize"/>
        </dd>
        
        <dt class="col-sm-4">Rattery name font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.HeaderFontSize"/>
        </dd>
        
        <dt class="col-sm-4">Litter name font size</dt>
        <dd class="col-sm-9">
            <input required type="number" @bind="Profile.Pedigree.Pdf.SubheaderFontSize"/>
        </dd>
    </dl>
}
