@using Basemix.Pedigrees
<div style="vertical-align: center;height: 100%">
    <strong style="color: #0a53be">
        @(Value?.Name ?? FallbackName ?? "Unknown")
    </strong>
    <br/>
    @(Value?.Variety ?? "Unknown Variety")
</div>

@code {
    [Parameter] public string? FallbackName { get; set; }
    [Parameter] public Node? Value { get; set; }
}